@media (max-width: 1240px) {
	.directions__row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.directions-item {
		max-width: 280px;
		margin: 0px 5%;
	}
	.directions-item:last-child {
		margin: 0px 5%;
	}
	.directions-item:nth-child(1) {
		margin-bottom: 150px;
	}
	.directions-item:nth-child(2) {
		margin-bottom: 150px;
	}
}
@media (max-width: 1140px) {
	.additional__title {
		font-size: 2.3rem;
	}
	.additional__title::before {
		width: 50px;
		left: -72px;
	}
	.additional-infoblock {
		margin: 0px;
	}
}
@media (max-width: 1070px) {
	.header {
		padding: 3px 0px;
	}
	.logoblock {
		padding: 5px 0px 0px 0px;
	}
	.logoblock__img {
		width: 50px;
	}
	.logoblock__text {
		display: none;
	}
	.logoblock__time {
		display: none;
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 60px;
		right: -100%;
		background: #002E62;
		padding: 40px 0px 0px 0px;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		z-index: 2;
	}
	.menu__body._active {
		right: 0;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end;
		padding: 0px 25px 0px 0px;
	}
	.menu__list li {
		margin: 0px 0px 40px 0px;
	}
	.menu__link {
		font-family: Montserrat;
		font-weight: 900;
		font-size: 1.125rem;
	}
	.header-phonebutton {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	.header-phonebutton__row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.header-phonebutton__phone {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		height: 40px;
	}
	.header-phonebutton__phone span {
		display: none;
	}
	.header-phonebutton__phone::before {
		background: url("../img/icons/phone-mob.svg") no-repeat;
		top: 2px;
		width: 40px;
		height: 40px;
		background-size: cover;
	}
	.header-phonebutton__btn {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin: 0px 30px 0px 0px;
		background: #FFD70F;
		color: #002E62;
	}
	.icon-menu {
		display: block;
		position: absolute;
		top: 12px;
		right: 10px;
		width: 44px;
		height: 30px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 11px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 8px;
		background-color: #fff;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu._active span {
		background-color: #FFD70F;
	}
	.hero-content__title {
		font-size: 2rem;
	}
	.title {
		font-size: 2.3rem;
	}
	.hero-content__right {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 250px;
		        flex: 0 0 250px;
	}
	.title_stripes::before {
		top: 23px;
		width: 68px;
		left: -90px;
	}
	.title_stripes::after {
		top: 23px;
		width: 68px;
		right: -90px;
	}
	.test-callback {
		display: none;
	}
	.estimation-form__row {
		display: block;
	}
	.feedback__row {
		padding: 70px 40px 50px 40px;
		margin: 0px -15px;
	}
	.feedback__row::before {
		content: "";
	}
}
@media (max-width: 990px) {
	.additional__title {
		text-align: center;
		margin: 0px 0px 60px 0px;
		max-width: 70%;
		font-size: 2.5rem;
	}
	.additional__title::before {
		height: 0;
	}
	.additional__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		top: -235px;
		margin: 0px 0px -55px 0px;
	}
	.additional__row::after {
		left: -53px;
	}
	.additional-infoblock {
		margin: 0px 0px 30px 0px;
	}
	.additional-textblock {
		text-align: center;
	}
	.additional-textblock__title {
		text-align: center;
	}
	.additional-textblock__text {
		text-align: center;
		max-width: 445px;
	}
	.howto__item::after {
		width: 30px;
		height: 20px;
		right: -15px;
	}
	.articles__title::after {
		height: 0;
	}
}
@media (max-width: 950px) {
	.footer__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin: 0;
	}
	.footer-column {
		margin: 0px 0px 40px 0px;
	}
	.footer-column__icons {
		width: 200px;
		position: relative;
		left: -50px;
	}
	.footer-column__icons img {
		width: 40px;
		margin: 0px 33px 30px 0px;
	}
	.feedback__title {
		font-size: 1.875rem;
	}
	.swiper-pagination {
		font-size: 1.875rem;
		min-width: 100px;
		padding: 0px 20px;
	}
}
@media (max-width: 855px) {
	.estimation__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.estimation__titleblock {
		padding: 0;
		background: none;
		text-align: center;
	}
	.estimation__subtitle {
		margin: 0px 0px 56px 0px;
	}
	.estimation__form {
		margin: 0 auto;
	}
	.estimation-form__row {
		text-align: center;
		margin: 0;
	}
}
@media (max-width: 768px) {
	._container {
		max-width: none;
	}
		.hero-content__title {
		margin: 0px 0px 25px 0px;
		width: 70%;
	}
	.hero-content__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 75px 0px;
	}
	.hero-content__left {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 0px 0px 30px 0px;
	}
	.title {
		text-align: center;
		font-size: 1.875rem;
	}
	.hero-content__right {
		text-align: center;
		margin: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		min-height: 320px;
	}
	.hero-content__girl img {
		width: 250px;
	}
	.hero-content__tippy {
		width: 60px;
		height: 60px;
		top: 76%;
	}
	.hero-content__tippy img {
		width: 100%;
		height: auto;
	}
	.red-btn {
		margin: 0;
	}
	.test {
		margin: 0px 0px 10px 0px;
	}
	.title_stripes::before {
		height: 0;
	}
	.title_stripes::after {
		height: 0;
	}
	.subtitle {
		font-size: 0.875rem;
		max-width: 285px;
		margin: 0 auto;
	}
	.test__row {
		padding: 38px 0px 98px 0px;
	}
	.about {
		margin: 0px 0px 41px 0px;
	}
	.directions {
		padding: 43px 0px 184px 0px;
	}
	.directions::after {
		background-size: 300%;
	}

	.directions-item {
		margin: 0px 15%;
	}
	.directions-item:nth-child(3) {
		margin-bottom: 150px;
	}
	.directions-item__title {
		min-height: 35px;
	}
	.yellow-btn {
		margin: 0;
	}
	.estimation {
		margin: 0px 0px 20px 0px;
	}
	.howto {
		background: url("../img/howto/bg_mob.jpg") no-repeat;
		background-size: cover;
		padding: 30px 0px 0px 0px;
	}
	.howto__title::before, .howto__title::after {
		height: 0;
	}
	.howto__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 0px 15%;
	}
	.howto__item:nth-child(1)::after {
		right: -30px;
	}
	.howto__item:nth-child(2)::after {
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		right: unset;
		top: unset;
		bottom: -70px;
	}
	.howto__item:nth-child(3)::after {
		right: -20px;
		top: 35px;
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	.howto__item:nth-child(4)::after {
		display: none;
	}
	.howto__item:nth-child(5)::after {
		right: unset;
		top: -50px;
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.howto__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 50%;
		        flex: 1 1 50%;
		margin: 0px 0px 100px 0px;
	}
	.howto__item:last-child::after {
		height: 20px;
	}
	.howto__item::after {
		width: 50px;
		height: 20px;
		background: url("../img/icons/arrow-y.svg") no-repeat;
		background-size: contain;
	}
	.articles__blocktitle {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin: 0px 0px 10px 0px;
	}
	.articles__title {
		font-size: 2.5rem;
		margin: 0px 0px 15px 0px;
	}
	.articles__row {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.articles-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 80%;
		        flex: 0 1 80%;
	}
	.welcome__row {
		margin: 0px 50px 0px 0px;
	}
	.welcome__left {
		padding: 150px 0px 0px 50px;
	}
	.welcome__title {
		font-size: 3rem;
		width: 50%;
	}
	.welcome__map {
		margin: 0px -15px;
	}
}
@media (max-width: 700px) {
	.welcome__left {
		padding: 150px 0px 0px 0px;
	}
	.welcome__title {
		font-size: 1.5rem;
	}
}
@media (max-width: 660px) {
	.additional__title {
		max-width: 100%;
		margin: 0px 0px 40px 0px;
	}
}
@media (max-width: 640px) {
	.feedback__row {
		padding: 35px 25px 45px 25px;
	}
	.feedback__title {
		margin: 0 auto;
		text-align: center;
	}
	.swiper-pagination {
		font-size: 2.25rem;
	}
}
@media (max-width: 650px) {
	.footer__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin: 0px 0px 47px 0px;
	}
	.footer-column {
		width: 100%;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.footer-column__phone::before {
		top: 1px;
	}
	.footer-column__mail::before {
		top: 1px;
	}
	.footer-column__icons {
		width: 100%;
		left: 0;
	}
	.footer-column__icons img {
		margin: 0px 15px;
	}
}
@media (max-width: 550px) {
	.additional-infoblock {
		width: 100%;
	}
}
@media (max-width: 480px) {
	.mb {
		margin: 0px 0px 40px 0px;
	}
	.spollers-block__title {
		font-size: 0.7rem;
	}
	.spollers-block__title::after, .spollers-block__title::before {
		right: -15px;
	}
	.header {
		padding: 15px 0px;
	}
	.logoblock {
		padding: 0;
	}
	.logoblock__logo {
		margin: 0;
	}
	.logoblock__img {
		width: 34px;
		margin: 0;
	}
	.menu__body {
		top: 56px;
	}
	.header-phonebutton__phone::before {
		top: 7px;
		width: 31px;
		height: 31px;
	}
	.header-phonebutton__btn {
		font-size: 0.625rem;
		padding: 8px 20px;
		margin: 0px 10px 0px 0px;
	}
	.icon-menu {
		top: -2px;
		right: -2px;
	}
	.footer-column__title {
		font-size: 1.125rem;
	}
	.footer-column__phone {
		font-size: 0.875rem;
	}
	.footer-column__mail {
		font-size: 0.875rem;
	}
	.footer-column__text p {
		font-size: 0.875rem;
	}
	.footer-column__text_y {
		font-size: 0.875rem;
	}
	.footer-column__link {
		font-size: 0.875rem;
	}
	.hero-content__title {
		font-size: 1.5rem;
		width: 100%;
		margin: 0px 0px 25px 0px;
	}
	.hero-content__left {
		margin: 0px 0px 40px 0px;
	}
	.title {
		font-size: 1.5rem;
	}
	.hero-content__girl {
		width: 250px;
	}
	.hero-content__tippy {
		top: 67%;
	}
	.test__row {
		padding: 38px 0px 5px 0px;
	}
	.test-quiz__btn_next {
		padding: 10px 45px 10px 20px;
	}
	.test-quiz__btn_next::before {
		right: 15px;
	}
	.test-quiz__btn_prev {
		padding: 10px 20px 10px 45px;
	}
	.test-quiz__btn_prev::before {
		left: 15px;
	}
	.about {
		margin: 0px 0px 55px 0px;
	}
	.about__title {
		margin: 0px 0px 20px 0px;
	}
	.additional__title {
		margin: 0px 0px 30px 0px;
		font-size: 1.5rem;
	}
	.estimation__title {
		font-size: 0.875rem;
		margin: 0px 0px 5px 0px;
	}
	.estimation__subtitle {
		font-size: 1.5rem;
		margin: 0px 0px 32px 0px;
	}
	.howto {
		margin: 0px 0px 60px 0px;
	}
	.howto__text {
		font-size: 0.875rem;
	}
	.howto__item:nth-child(1)::after {
		top: unset;
		bottom: -60px;
		right: unset;
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.howto__item:nth-child(3)::after {
		top: unset;
		bottom: -60px;
		right: unset;
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.howto__item:nth-child(6)::after {
		top: -60px;
		left: unset;
		right: unset;
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.howto__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
	.articles-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		margin: 0px 0px 46px 0px;
	}
	.articles-item__text {
		margin: 0px 0px 7px 0px;
	}
	.feedback__title {
		font-size: 1.5rem;
	}
	.welcome__row {
		margin: 0;
	}
}