@charset "UTF-8";
@import "../../fonts/stylesheet.css";
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Futura New Medium - Reg";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Futura New Medium - Reg";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	font-size: 16px;
}
body._lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
._container {
	max-width: 990px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-size: 20px;
}

.mb {
	margin: 0px 0px 40px 0px;
}

.title {
	color: #313562;
	font-family: "Futura New Heavy - Reg";
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie ._ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie ._ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

#map {
	background: url("../img/icons/loading.gif") center/50px no-repeat;
}

.swiper-container {
	overflow: hidden;
	position: relative;
}
.swiper-container > div {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
.swiper-container.swiper-container-autoheight > div {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
	-webkit-transform: translate3d(0px, 0, 0);
	        transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination-bullets {
	position: absolute;
	bottom: 0px;
	left: 50%;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

.swiper-pagination-bullet {
	background: #000;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 0px 5px 0px 0px;
	cursor: pointer;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: red;
}
.swiper-pagination-bullet:last-child {
	margin: 0;
}

.slider {
	position: relative;
	padding: 0px 40px;
	font-size: 16px;
	margin: 40px 0px;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
	width: 15px;
	height: 30px;
	background-size: contain;
	cursor: pointer;
}

.swiper-button-next {
	right: 0;
	background: url("../img/icons/p-right.svg") no-repeat;
	background-size: contain;
}

.swiper-button-prev {
	left: 0;
	background: url("../img/icons/p-left.svg") no-repeat;
	background-size: contain;
}

/*
.swiper-slide:not(.swiper-slide-active) {
    opacity: .25;
}

*/
.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

._tabs-item {
	cursor: pointer;
}

._tabs-block {
	display: none;
}
._tabs-block._active {
	display: block;
}

.spollers-block__body {
	display: none;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
}
._custom-scroll__line {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px 0 0 3px;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
.page {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.lamp {
	padding: 46px 0px 10px 0px;
}
@media (max-width: 950px) {
	.lamp {
		padding: 26px 0px 10px 0px;
	}
}

.lamp__row {
	text-align: center;
	position: relative;
	width: 361px;
	margin: 0 auto;
}
.lamp__row img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
@media (max-width: 950px) {
	.lamp__row {
		width: 280px;
	}
}
@media (max-width: 480px) {
	.lamp__row {
		width: 200px;
	}
}

.shadow-point1 {
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 20px;
	width: 100%;
	height: 100%;
	width: 30px;
	height: 30px;
	background-color: orange;
	border-radius: 50%;
	-webkit-animation: shadow 0.6s infinite alternate;
	        animation: shadow 0.6s infinite alternate;
}
@media (max-width: 480px) {
	.shadow-point1 {
		width: 20px;
		height: 20px;
		left: 10px;
		top: 5px;
	}
}

@-webkit-keyframes shadow {
	from {
		-webkit-box-shadow: 0 0 10px 5px #ff7101;
		        box-shadow: 0 0 10px 5px #ff7101;
	}
	to {
		-webkit-box-shadow: 0 0 35px 20px #ff7101;
		        box-shadow: 0 0 35px 20px #ff7101;
	}
}

@keyframes shadow {
	from {
		-webkit-box-shadow: 0 0 10px 5px #ff7101;
		        box-shadow: 0 0 10px 5px #ff7101;
	}
	to {
		-webkit-box-shadow: 0 0 35px 20px #ff7101;
		        box-shadow: 0 0 35px 20px #ff7101;
	}
}
@media (max-width: 480px) {
	@-webkit-keyframes shadow {
		from {
			-webkit-box-shadow: 0 0 10px 0px #ff7101;
			        box-shadow: 0 0 10px 0px #ff7101;
		}
		to {
			-webkit-box-shadow: 0 0 25px 10px #ff7101;
			        box-shadow: 0 0 25px 10px #ff7101;
		}
	}
	@keyframes shadow {
		from {
			-webkit-box-shadow: 0 0 10px 0px #ff7101;
			        box-shadow: 0 0 10px 0px #ff7101;
		}
		to {
			-webkit-box-shadow: 0 0 25px 10px #ff7101;
			        box-shadow: 0 0 25px 10px #ff7101;
		}
	}
}
.shadow-point2 {
	position: absolute;
	z-index: -1;
	top: 10px;
	right: 20px;
	width: 100%;
	height: 100%;
	width: 30px;
	height: 30px;
	background-color: orange;
	border-radius: 50%;
	-webkit-animation: shadow1 0.6s infinite alternate;
	        animation: shadow1 0.6s infinite alternate;
	-webkit-animation-delay: 0.6s;
	        animation-delay: 0.6s;
}
@media (max-width: 480px) {
	.shadow-point2 {
		width: 20px;
		height: 20px;
		top: 5px;
		right: 10px;
	}
}

@-webkit-keyframes shadow1 {
	from {
		-webkit-box-shadow: 0 0 10px 5px #ff7101;
		        box-shadow: 0 0 10px 5px #ff7101;
	}
	to {
		-webkit-box-shadow: 0 0 35px 20px #ff7101;
		        box-shadow: 0 0 35px 20px #ff7101;
	}
}

@keyframes shadow1 {
	from {
		-webkit-box-shadow: 0 0 10px 5px #ff7101;
		        box-shadow: 0 0 10px 5px #ff7101;
	}
	to {
		-webkit-box-shadow: 0 0 35px 20px #ff7101;
		        box-shadow: 0 0 35px 20px #ff7101;
	}
}
@media (max-width: 480px) {
	@-webkit-keyframes shadow1 {
		from {
			-webkit-box-shadow: 0 0 10px 0px #ff7101;
			        box-shadow: 0 0 10px 0px #ff7101;
		}
		to {
			-webkit-box-shadow: 0 0 25px 10px #ff7101;
			        box-shadow: 0 0 25px 10px #ff7101;
		}
	}
	@keyframes shadow1 {
		from {
			-webkit-box-shadow: 0 0 10px 0px #ff7101;
			        box-shadow: 0 0 10px 0px #ff7101;
		}
		to {
			-webkit-box-shadow: 0 0 25px 10px #ff7101;
			        box-shadow: 0 0 25px 10px #ff7101;
		}
	}
}
.header {
	position: relative;
	z-index: 2;
}

.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}

.header__logo {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 150px;
	        flex: 0 0 150px;
	margin: 0px 10px 0px 0px;
}
.header__logo img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
@media (max-width: 950px) {
	.header__logo {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 120px;
		        flex: 0 0 120px;
	}
}
@media (max-width: 480px) {
	.header__logo {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 80px;
		        flex: 0 0 80px;
	}
}

.header__title {
	color: #313562;
	font-family: "Futura New Heavy - Reg";
	font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
	font-weight: 400;
	text-transform: uppercase;
	margin: 35px 0px 0px 0px;
	text-align: center;
}
@media (max-width: 480px) {
	.header__title {
		margin: 15px 0px 0px 0px;
		text-align: left;
	}
}

.hero {
	background: url("../img/hero/bg.svg") no-repeat;
	background-size: cover;
	background-position: center center;
	margin: -75px 0px 0px 0px;
}
@media (max-width: 950px) {
	.hero {
		background: none;
		margin: -55px 0px 0px 0px;
	}
}
@media (max-width: 480px) {
	.hero {
		margin: 0px 0px 0px 0px;
	}
}

.hero__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 950px) {
	.hero__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin: 0px -15px;
	}
}

.hero-left {
	width: 50%;
	padding: 0px 0px 60px 0px;
}
@media (max-width: 950px) {
	.hero-left {
		width: 100%;
		background: url("../img/hero/bg.svg") no-repeat;
		background-position: left;
		padding: 0px 0px 30px 0px;
	}
}

.hero-left__title {
	color: #fbfbfd;
	font-size: 20px;
	font-weight: 400;
	max-width: 380px;
	margin: 75px 0px 55px 0px;
	line-height: 1.4;
}
.hero-left__title span {
	font-size: 25px;
	text-transform: uppercase;
}
@media (max-width: 950px) {
	.hero-left__title {
		max-width: 82%;
		text-align: center;
		line-height: 1.2;
		margin: 40px auto 30px auto;
	}
	.hero-left__title span {
		font-size: 22px;
	}
}
@media (max-width: 480px) {
	.hero-left__title {
		margin: 40px auto 50px auto;
	}
}

.hero-price-block {
	max-width: 320px;
}
@media (max-width: 950px) {
	.hero-price-block {
		max-width: 100%;
	}
}

.hero-price-block__title {
	color: #fcfcfd;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0px 0px 5px 0px;
}
@media (max-width: 950px) {
	.hero-price-block__title {
		text-align: center;
		margin: 0px 0px 15px 0px;
	}
}
@media (max-width: 480px) {
	.hero-price-block__title {
		font-size: 18px;
	}
}

.hero-price-block__price {
	color: #fbfbfd;
	font-size: 25px;
	text-align: center;
}
.hero-price-block__price span {
	font-size: 60px;
}
@media (max-width: 480px) {
	.hero-price-block__price span {
		font-size: 50px;
	}
}

.hero-price-block__cur {
	color: #fbfbfd;
	font-size: 25px;
	margin: 0px 0px 20px 25px;
	text-align: center;
}

.hero-left__btn {
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.41);
	        box-shadow: 0 0 16px rgba(0, 0, 0, 0.41);
	border-radius: 50px;
	background-color: #ff7101;
	color: #fbfbfd;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 35px;
	max-width: 260px;
	display: block;
	text-align: center;
	line-height: 1.2;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.hero-left__btn:hover {
	background: #313562;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.hero-right {
	width: 50%;
	position: relative;
	z-index: 1;
}
.hero-right::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 20px;
	width: 282px;
	height: 196px;
	background: url("../img/hero/car.png") no-repeat;
	background-size: contain;
}
.hero-right::after {
	content: "";
	position: absolute;
	bottom: -20px;
	right: 30px;
	width: 222px;
	height: 341px;
	background: url("../img/hero/man.png") no-repeat;
	background-size: contain;
}
@media (max-width: 1366px) {
	.hero-right::before {
		left: 50px;
	}
	.hero-right::after {
		right: 0px;
	}
}
@media (max-width: 950px) {
	.hero-right {
		width: 100%;
		background: url("../img/hero/bg.svg") no-repeat;
		background-position: right;
		padding: 0px 0px 30px 0px;
	}
	.hero-right::before {
		width: 0;
		height: 0;
	}
}
@media (max-width: 768px) {
	.hero-right::after {
		width: 0;
		height: 0;
	}
}

.hero-contacts__text {
	color: #fbfbfd;
	line-height: 1.3;
	font-size: 15px;
	margin: 20px 0px 15px 80px;
	max-width: 248px;
}
@media (max-width: 1366px) {
	.hero-contacts__text {
		margin: 20px 0px 15px 90px;
	}
}
@media (max-width: 950px) {
	.hero-contacts__text {
		max-width: 100%;
		text-align: center;
		margin: 20px 0px 15px 0px;
	}
}

.hero-contacts__help {
	color: #fbfbfd;
	line-height: 1.3;
	font-size: 15px;
	margin: 20px 0px 17px 0px;
	max-width: 248px;
}
.hero-contacts__help span {
	font-size: 25px;
}
@media (max-width: 950px) {
	.hero-contacts__help {
		text-align: center;
		margin: 0 auto;
	}
}

.hero-contacts__tel {
	color: #fbfbfd;
	font-family: "Futura New Heavy - Reg";
	font-size: 50px;
	margin: 0px 0px 25px 60px;
	display: block;
}
@media (max-width: 1366px) {
	.hero-contacts__tel {
		font-size: 44px;
		margin: 0px 0px 25px 80px;
	}
}
@media (max-width: 950px) {
	.hero-contacts__tel {
		font-size: 40px;
		text-align: center;
		margin: 0px 0px 25px 0px;
	}
}
@media (max-width: 480px) {
	.hero-contacts__tel {
		font-size: 30px;
		margin: 0px 0px 20px 0px;
	}
}

.hero-contacts__btn {
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.41);
	        box-shadow: 0 0 16px rgba(0, 0, 0, 0.41);
	border-radius: 50px;
	background-color: #313562;
	color: #fbfbfd;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 35px;
	max-width: 260px;
	display: block;
	text-align: center;
	line-height: 1.2;
	margin: 0px 0px 50px 60px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.hero-contacts__btn:hover {
	background: #ff7101;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@media (max-width: 950px) {
	.hero-contacts__btn {
		margin: 0 auto 30px auto;
	}
}

.advantages {
	margin: -40px 0px 0px 0px;
}
@media (max-width: 950px) {
	.advantages {
		margin: 0px 0px 20px 0px;
	}
}

.advantages__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0px 0px 0px 0px;
}
@media (max-width: 950px) {
	.advantages__row {
		padding: 0;
	}
}

.advantages__lock {
	width: 256px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 256px;
	        flex: 0 0 256px;
	margin: 0px 10px 0px 0px;
}
.advantages__lock img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
@media (max-width: 950px) {
	.advantages__lock {
		display: none;
	}
}

.advantages__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 10px 0px 0px 0px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 100%;
}
@media (max-width: 950px) {
	.advantages__items {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.advantages__item {
	background: url("../img/advantages/polygon.svg") no-repeat;
	background-size: contain;
	width: 142px;
	height: 154px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 142px;
	        flex: 0 0 142px;
	margin: 0px 10px;
	padding: 35px 5px 0px 5px;
	text-align: center;
}
@media (max-width: 950px) {
	.advantages__item {
		margin: 10px 0px;
	}
}

.advantages__title {
	color: #fafbfe;
	font-size: 20px;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}

.advantages__text {
	color: #fafbfe;
	font-size: 20px;
	line-height: 1.2;
}

.advantages__text_s {
	font-size: 18px;
}

.advantages__text_b {
	color: #fafbfe;
	font-family: "Futura New Bold - Reg";
	font-size: 60px;
	line-height: 0.5;
	margin: 0px 0px 5px 0px;
}

.call-master-form {
	-webkit-appearance: none;
}

.call-master-form__item {
	border-radius: 26px;
	border: 1px solid #ff7101;
	max-width: 335px;
	padding: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0 auto;
}
.call-master-form__item input {
	color: #ff7101;
	font-size: 15px;
	width: 100%;
	display: block;
	padding: 0px 0px 0px 10px;
}
.call-master-form__item input::-webkit-input-placeholder {
	color: #ff7101;
}
.call-master-form__item input::-moz-placeholder {
	color: #ff7101;
}
.call-master-form__item input:-ms-input-placeholder {
	color: #ff7101;
}
.call-master-form__item input::-ms-input-placeholder {
	color: #ff7101;
}
.call-master-form__item input::placeholder {
	color: #ff7101;
}

.call-master-form__btn {
	border-radius: 15px;
	background-color: #ff7101;
	color: #fdfbfa;
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 22px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 170px;
	        flex: 0 0 170px;
	display: block;
}
@media (max-width: 320px) {
	.call-master-form__btn {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 130px;
		        flex: 0 0 130px;
	}
}

.how-fast__title {
	margin: 0px 0px 25px 0px;
}

.how-fast__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	background: #e0e3ec;
	margin: 0px 0px 10px 0px;
}
@media (max-width: 950px) {
	.how-fast__row {
		margin: 0px -15px 10px -15px;
	}
}

.how-fast-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 25px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.how-fast-items__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 111px;
	        flex: 0 0 111px;
	margin: 0px 22px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.how-fast-items__item:last-child {
	margin: 0;
}
@media (max-width: 950px) {
	.how-fast-items__item {
		margin: 0px 0px 30px 0px;
	}
}

.how-fast-items__tt {
	color: #3e59c4;
	font-family: "Futura New Heavy - Reg";
	font-size: 15px;
	display: block;
	height: 45px;
	line-height: 1.2;
}

.how-fast-items__bt {
	color: #3e59c4;
	font-family: "Futura New Heavy - Reg";
	font-size: 15px;
	display: block;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	line-height: 1.2;
}

.how-fast-items__img {
	background: url("../img/how-fast/polygon.svg") no-repeat;
	background-size: cover;
	width: 111px;
	height: 121px;
	width: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	margin: 0px 0px 10px 0px;
}
.how-fast-items__img img {
	height: 70px;
}

.how-fast__lock {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 400px;
	        flex: 0 1 400px;
}
.how-fast__lock img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
@media (max-width: 950px) {
	.how-fast__lock {
		display: none;
	}
}

.how-fast__footer {
	border-radius: 10px;
	background-color: #3e59c4;
	text-align: center;
	padding: 10px;
	color: #fefefe;
	font-family: "Futura New Heavy - Reg";
	font-size: calc(16px + 9 * ((100vw - 320px) / 1600));
	margin: 0px -15px;
}
@media (max-width: 950px) {
	.how-fast__footer {
		margin: 0;
	}
}

.services {
	background: url("../img/services/bg.jpg") no-repeat;
	background-size: contain;
	background-position: center;
	padding: 0px 0px 40px 0px;
}
@media (max-width: 950px) {
	.services {
		background-size: cover;
	}
}

.services__title {
	color: #ff7101;
	margin: 0px 0px 40px 0px;
}

.services__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.services-item {
	margin: 0px 28px 46px 28px;
	text-align: center;
}

.services-item__row {
	background: url("../img/services/polygon.svg") no-repeat;
	background-size: cover;
	width: 192px;
	height: 218px;
	padding: 35px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
}
@media (max-width: 768px) {
	.services-item__row {
		margin: 0px 0px 20px 0px;
	}
}

.services__img {
	margin: 0px 0px 5px 0px;
}

.services-item__btn {
	border-radius: 10px;
	background-color: #c15d26;
	color: #fefefe;
	font-size: 15px;
	padding: 10px 33px;
	display: inline-block;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.services-item__btn:hover {
	background: #3e59c4;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.services__tt {
	color: #ffffff;
	font-size: 15px;
	margin: 0px 0px 5px 0px;
}

.services__bt {
	color: #ffffff;
	font-size: 15px;
}

.visualization__title {
	margin: 0px 0px 30px 0px;
}

.visualization__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0px -34px 0px 0px;
	padding: 0px 25px;
}
@media (max-width: 700px) {
	.visualization__row {
		padding: 0;
	}
}

.visualization-item {
	margin: 0px 34px 78px 0px;
	position: relative;
	width: 25%;
}
@media (max-width: 700px) {
	.visualization-item {
		width: 25%;
	}
}
@media (max-width: 560px) {
	.visualization-item {
		width: 60%;
	}
}

.visualization-item__img {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 219px;
	        flex: 0 1 219px;
}
.visualization-item__img img {
	width: 100%;
	height: 100%;
}

.visualization-item__hex {
	position: absolute;
	z-index: 2;
	bottom: -56px;
	right: -76px;
	background: url("../img/visualization/polygon.svg") no-repeat;
	background-size: cover;
	width: 118px;
	height: 127px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0px 15px;
}
.visualization-item__hex p {
	color: #313562;
	text-align: center;
	font-size: 12px;
	font-family: "Futura New Bold - Reg";
}
@media (max-width: 700px) {
	.visualization-item__hex {
		right: unset;
		bottom: -76px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
}
@media (max-width: 560px) {
	.visualization-item__hex {
		bottom: -56px;
	}
}

.feedback {
	background: url("../img/feedback/bg.jpg") no-repeat;
	background-position: top center;
	padding: 40px 0px 0px 0px;
}

.feedback__title {
	margin: 0px 0px 30px 0px;
}

.feedback__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	margin: 0px 0px 77px 0px;
}
@media (max-width: 480px) {
	.feedback__row {
		margin: 0px 0px 30px 0px;
	}
}

.feedback-item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 180px;
	        flex: 0 0 180px;
	margin: 0px 24px 20px 24px;
	background: #313562;
	padding: 12px;
}
@media (max-width: 950px) {
	.feedback-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 40%;
		        flex: 0 0 40%;
		margin: 0px 14px 20px 14px;
	}
}
@media (max-width: 480px) {
	.feedback-item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 80%;
		        flex: 0 0 80%;
	}
}

.feedback-item__img {
	margin: 0px auto 6px auto;
	width: 100px;
	height: 106px;
}
.feedback-item__img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.feedback-item__title {
	color: #ffffff;
	font-size: 18px;
	margin: 0px 0px 7px 0px;
}

.feedback-item__subtitle {
	color: #ffffff;
	font-size: 14px;
	margin: 0px 0px 10px 0px;
}

.feedback-item__txt {
	color: #fbfbfe;
	font-family: "Futura New Light - Reg";
	font-size: 14px;
	text-align: left;
}

.feedback__subtitle {
	color: #3e59c4;
	font-family: "Futura New Heavy - Reg";
	font-size: 20px;
	text-align: center;
	margin: -15px 0px 40px 0px;
}

.feedback-form {
	text-align: center;
}
.feedback-form input {
	width: 253px;
	height: 52px;
	border: 1px solid #dedede;
	-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.41);
	        box-shadow: 0 0 13px rgba(0, 0, 0, 0.41);
	border-radius: 26px;
	background-color: #fcfcfd;
	padding: 20px;
	color: #313562;
	font-size: 15px;
}
.feedback-form input::-webkit-input-placeholder {
	color: #313562;
}
.feedback-form input::-moz-placeholder {
	color: #313562;
}
.feedback-form input:-ms-input-placeholder {
	color: #313562;
}
.feedback-form input::-ms-input-placeholder {
	color: #313562;
}
.feedback-form input::placeholder {
	color: #313562;
}

.form__item {
	margin: 0px 0px 34px 0px;
}

.form__btn {
	width: 253px;
	height: 52px;
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.41);
	        box-shadow: 0 0 16px rgba(0, 0, 0, 0.41);
	border-radius: 26px;
	background-color: #ff7101;
	color: #fbfbfc;
	font-size: 20px;
	text-transform: uppercase;
}

.footer {
	background: url("../img/footer-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 16px 0px 25px 0px;
}
@media (max-width: 750px) {
	.footer {
		background-position: 10%;
	}
}

.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 750px) {
	.footer__row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

.footer-left {
	width: 50%;
}
@media (max-width: 750px) {
	.footer-left {
		width: 100%;
	}
}

.footer-left__block {
	width: 143px;
}
@media (max-width: 750px) {
	.footer-left__block {
		margin: 0 auto;
	}
}

.footer__logo {
	width: 100px;
	margin: 0 auto 35px auto;
}
.footer__logo img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
@media (max-width: 750px) {
	.footer__logo {
		margin: 0 auto 15px auto;
	}
}

.footer__title {
	color: #fbfbfc;
	font-family: "Futura New Medium - Reg";
	font-size: 20px;
	text-transform: uppercase;
	margin: 0px 0px 24px 0px;
}
@media (max-width: 750px) {
	.footer__title {
		margin: 0px 0px 14px 0px;
	}
}

.footer__year {
	color: #fbfbfc;
	font-size: 15px;
	text-align: center;
}

.footer__right {
	width: 50%;
}
@media (max-width: 750px) {
	.footer__right {
		width: 100%;
		text-align: center;
	}
}

.footer__tel {
	color: #fbfbfd;
	font-family: "Futura New Heavy - Reg";
	font-size: calc(30px + 20 * ((100vw - 320px) / 1600));
	height: 50px;
	margin: 30px 0px 40px 60px;
	display: block;
}
@media (max-width: 750px) {
	.footer__tel {
		margin: 30px 0px 40px 0px;
	}
}

.footer__web {
	color: #fbfbfc;
	font-size: 25px;
	text-transform: uppercase;
	margin: 0px 0px 16px 60px;
	display: block;
}
@media (max-width: 750px) {
	.footer__web {
		margin: 0px 0px 16px 0px;
	}
}

.footer__copy {
	color: #fbfbfc;
	font-size: 15px;
	margin: 0px 0px 20px 60px;
	display: block;
}
@media (max-width: 750px) {
	.footer__copy {
		margin: 0px 0px 20px 0px;
	}
}

.footer__recip {
	margin: 0px 0px 0px 60px;
}
@media (max-width: 750px) {
	.footer__recip {
		margin: 0 auto;
	}
}