@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ea3oif');
  src:  url('fonts/icomoon.eot?ea3oif#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ea3oif') format('truetype'),
    url('fonts/icomoon.woff?ea3oif') format('woff'),
    url('fonts/icomoon.svg?ea3oif#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-left:before {
  content: "\e900";
}
.icon-ampersant:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-arrow1:before {
  content: "\e903";
}
.icon-arrow-circle:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-check1:before {
  content: "\e906";
}
.icon-check2:before {
  content: "\e907";
}
.icon-check3:before {
  content: "\e908";
}
.icon-chevron:before {
  content: "\e909";
}
.icon-chevrons:before {
  content: "\e90a";
}
.icon-dur:before {
  content: "\e90b";
  color: #0071a3;
}
.icon-facebook .path1:before {
  content: "\e90c";
  color: rgb(68, 96, 160);
}
.icon-facebook .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook1:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-heart1:before {
  content: "\e910";
}
.icon-insta:before {
  content: "\e911";
}
.icon-mail:before {
  content: "\e912";
}
.icon-mail1:before {
  content: "\e913";
}
.icon-ok:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e915";
}
.icon-phone1:before {
  content: "\e916";
  color: #009688;
}
.icon-pin:before {
  content: "\e917";
}
.icon-plane:before {
  content: "\e918";
}
.icon-plane1:before {
  content: "\e919";
}
.icon-plane2:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e91b";
}
.icon-skype:before {
  content: "\e91c";
}
.icon-star:before {
  content: "\e91d";
}
.icon-star1:before {
  content: "\e91e";
}
.icon-telegram .path1:before {
  content: "\e91f";
  color: rgb(3, 155, 229);
}
.icon-telegram .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-title:before {
  content: "\e921";
}
.icon-twitter:before {
  content: "\e922";
}
.icon-viber:before {
  content: "\e923";
  color: #8e24aa;
}
.icon-vk:before {
  content: "\e924";
}
.icon-whatsapp:before {
  content: "\e925";
}
.icon-whatsapp1:before {
  content: "\e926";
}
.icon-zoom-in:before {
  content: "\e927";
}
.icon-zoom-out:before {
  content: "\e928";
}
.icon-home:before {
  content: "\e929";
}
.icon-play:before {
  content: "\e92a";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-compass:before {
  content: "\e949";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
